* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FEDD00;
}

header {
    background-image: linear-gradient(#fff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    padding: 20px 0 20px 0;
    position: fixed;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 9999; 
}

nav .navbar img {
    width: 130px;
    height: 70px;
    margin-top: -20px;
}

nav h1{
    padding-top: 5px;
    font-size: 30px;
    padding-left: 10px;
}

.navbar{
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin-right: 30px;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
    color: black;
    border-bottom: 1px solid #FEDD00;
}
  
.menu-icon {
    /* background-color: tomato; */
    font-size: 28px;
    display: none;
}

main {
    padding-top: 7rem;
}

/* .seemore{
    background-color: #FEDD00;

} */

.seemore img{
    width: 100%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 10px;
    border-radius: 10px;
}

.more{
    background-color: white;
    padding: 30px;
    padding-top: 10px;
    margin: 100px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.footer{
    background-color: white;
    margin-top: 20px;

}
.box-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.box-footer h2{
    text-align: center;
}

.box-footer p{
    text-align: left;
    /* background-color: aquamarine; */
    /* justify-content: 50px; */
}

/* ini opsional di bagian kanan pojok bawah */
/* .box-footer button{ 
    display: flexbox;
} */

.box-footer img{
    width: 20%;
    display: flexbox;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #191;

}
@media only screen and (max-width: 768px) {
    nav {
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
      background-color: white;
      margin-right: 0px;
    }
  
    nav ul li:last-of-type {
      padding-bottom: 8px;
    }
  
    nav ul.hidden {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }

    .hero .container .container-box.hidden{
        display: none;
    }
    .seemore img{
        width: 100%;
        padding: 10%;
        padding-top: 25%;
    }

}